* {
  box-sizing: border-box;
  transition-duration: .15s;
  font-family: Roboto, Arial;
}

body {
  margin: 0;
  background-color: #0f0f0f;
  padding-top: 56px;
  min-width: 700px;
  padding-bottom: 20px;
}

.tooltip-container {
  position: relative;
  justify-content: center;
}

a,
a * {
  text-decoration: none;
  color: inherit;
}

.tooltip {
  position: absolute;
  bottom: -40px;
  right: 0;
  white-space: nowrap;
  background-color: #616161;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 4px;
  padding: 8px 8px;
  display: none;
  z-index: 5;
}

.tooltip-top {
  bottom: auto;
  top: -40px;
}

.tooltip-left {
  bottom: auto;
  right: 40px;
}

.tooltip-container:hover .tooltip {
  display: inline-block;
}

.rotation-snippet {
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
  border: 3px solid #aaa;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation-name: rotation;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}