*{
  box-sizing: border-box;
  transition-duration: .15s;
  font-family: Roboto, Arial;
}

body{
  margin: 0;
  background-color: #000;
  min-height: 5000px;
}

.tooltip-container{
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip{
  position: absolute;
  bottom: -40px;
  white-space: nowrap;
  background-color: #616161;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  border-radius: 4px;
  padding: 8px 8px;
  opacity: 0;
}

.tooltip-container:hover .tooltip{
  opacity: 1;
}
