header {
  background-color: #0f0f0f;
  height: 56px;
  padding-inline: 16px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

header .header-left,
header .header-middle,
header .header-right {
  display: flex;
  align-items: center;
  align-content: center;
}

header .header-middle{
  position: relative;
}

header .burger-menu {
  background-color: transparent;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  padding: 6px;
}

header .burger-menu:hover,
header .header-right .item-container:hover {
  background-color: #ffffff25;
  cursor: pointer;
}

header .burger-menu .burger-menu-icon {
  height: 24px;
  width: 24px;
}

header .logo-container {
  padding: 18px 16px;
  text-decoration: none;
  position: relative;
}

header .logo-container .country {
  color: #aaa;
  font-size: 10px;
  position: absolute;
  top: 12px;
  right: 0;
}

header .header-middle .search-input {
  height: 40px;
  flex: 1;
  width: 0;
  padding: 8px 16px;
  margin-left: 50px;
  font-size: 16px;
  background-color: #121212;
  color: #fff;
  border: 1px solid #222;
  border-radius: 20px 0 0 20px;
  z-index: 2;
}

header .header-middle .search-input:focus{
  margin-left: 20px;
  padding-left: 46px;
}

header .header-middle .search-input + .search-icon{
  position: absolute;
  top: 22px;
  left: 38px;
  z-index: 3;
  color: #fff;
  opacity: 0;
}

header .header-middle .search-input:focus + .search-icon{
  opacity: 1;
}

header .header-middle .search-btn,
header .header-middle .voice-search-btn {
  background-color: #222;
  height: 40px;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

header .header-middle .search-btn {
  border-radius: 0 20px 20px 0;
}

header .header-middle .voice-search-btn {
  width: 40px;
  margin-left: 10px;
  padding-inline: 11px;
}

header .header-middle .search-btn img,
header .header-middle .voice-search-btn img {
  height: 18px;
  margin-top: 3px;
}

@media(max-width: 700px) {
  header {
    grid-template-columns: 200px 1fr 125px;
  }

  header .header-middle .search-input {
    display: none;
  }

  header .header-middle .search-btn {
    border-radius: 20px;
    padding-inline: 10px;
    background-color: transparent;
  }

  header .header-middle .voice-search-btn {
    background-color: transparent;
    margin-left: 0;
  }

  header .header-middle .search-btn:hover,
  header .header-middle .voice-search-btn:hover {
    background-color: #222;
  }

  header .header-middle {
    justify-content: end;
  }
}

header .header-right {
  justify-content: end;
}

header .header-right .item-container {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 20px;
  margin-inline: 0px;
}

.notification {
  position: relative;
  text-align: center;
}

.notification-count {
  display: none;
  color: #fff;
  background-color: rgb(200, 0, 0);
  border: 2px solid #0f0f0f;
  font-size: 12px;
  line-height: 14px;
  width: 18px;
  height: 18px;
  padding-block: 2px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 1px;
}

.notification-count.has-notifications {
  display: inline-block;
}

header .header-right img {
  height: 24px;
  width: 24px;
  margin: 8px 0px;
}

header .header-right .profile-image {
  height: 32px;
  width: 32px;
  margin-left: 16px;
  border-radius: 16px;
  cursor: pointer;
}